.mdl-layout {
	overflow: hidden;
}

main {
	height: calc(100vh - 128px);
}

main .mdl-grid {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;
}

main .mdl-cell {
	margin-top: 0;
	margin-bottom: 0;
}

.messages-wrapper {
	height: calc(100vh - 180px);
	overflow-y: scroll;
}

.messages-container .user {
	background: #ff4081;
	color: #fff;
	padding: 3px 6px;
}

.messages-container .material-icons {
	color: #ff4081;
	padding: 0 2px;
	vertical-align: -6px;
}

.controls .mdl-textfield {
	width: 100%;
}

.controls .mdl-cell--1-col {
	text-align: center;
}